<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue to-do app</title>

    <link rel="stylesheet" href="https://ez-css.now.sh" />

    <style>
      form {
        display: flex;
        flex-direction: column;
      }

      input {
        width: 480px;
      }

      button {
        width: 220px;
      }

      .done {
        text-decoration: line-through;
      }
    </style>
  </head>
  <body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <main id="app">
      <h1>{{title}}</h1>

      <form @submit.prevent="addTodo">
        <label for="newTodo">New Todo</label>
        <input v-model="todoText" type="text" name="newTodo" id="newTodo" />
        <span><button>Add</button></span>
      </form>

      <button @click="markAllAsDone">Mark all as done</button>

      <ul>
        <li v-for="todo in todoArr">
          <div :class="{done: todo.done}">{{todo.text}}</div>
          <span>
            <input type="checkbox" v-model="todo.done" />
            <button @click="removeTodo(todo)">Remove todo</button>
          </span>
        </li>
      </ul>
    </main>
    <script src="app.js"></script>
  </body>
</html>
